<!-- Bars index -->
<h2><%= @neighborhood.name %>'s Bars</h2>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

  <% @bars.each do |bar| %>
    <tr>
      <td><%= link_to(bar.name, neighborhood_bar_path(@neighborhood, bar)) %></td>
      <td><%= link_to("Edit", edit_neighborhood_bar_path(@neighborhood, bar)) %></td>
    </tr>
  <% end %>
</table>

<div id='new-bar-container'>
  <%= link_to("Create new bar", new_neighborhood_bar_path) %>
</div>
